header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-width: 201.4vh;
    height: 50px;
    box-sizing: border-box;
    border-style: solid;
    border-width: thin;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: pink;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: white;
}
h1 {
    color: lightblue;
    font-family: serif;
    font-size: larger;
    font-weight: 100;
}
h2 {
    color: #635154;
    font-family: serif;
    font-size: large;
    font-weight: 100;
}
body {
    color: #635154;
    background-color: lightgoldenrodyellow;
    font-family: 'Gill Sans MT';
}
/* BUTTONS */
a.headerbtn {
    color: lightblue;
    text-decoration: none;
}
a.headerbtn:visited {
    color: pink;
    text-decoration: none;
}
button.startchatbtn {
    padding: 10px;
    width: 51%;
    border-style: solid;
    border-width: thin;
    border-color: #635154;
    border-radius: 5pt;
    color: #635154;            
    background-color: lightblue;
    cursor: pointer;
}
button.startchatbtn:hover {
    background-color: lightgoldenrodyellow;
}
button.startchatbtn:active {
    background-color: pink;
}
/* DISABLED BUTTONS */
button.startchatbtn.disabled,button.startchatbtn:hover,button.startchatbtn:active {
    background-color: lightblue;
    opacity: 0.6;
    cursor: not-allowed;
}
/* INPUT FIELDS */ 
#interestsInput {
    width: 50%;
    height: max-content;
}
form.checkboxes {
    line-height: 20pt;
}
/* DISPLAY */
.whitebox {
    padding: 20px;
    border-style: solid;
    border-width: thin;
    border-color:pink;
    border-radius: 5pt;
    background-color: white;
}
.content {          
    margin-top: 10%;
    margin-bottom: 10%;
    /* eventually want to do calc screen res - i.e. 300px */
    margin-left: 350px; 
    margin-right: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}