header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-width: 201.4vh;
    height: 50px;
    box-sizing: border-box;
    border-style: solid;
    border-width: thin;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: pink;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: white;
}
h1 { /* title of webpage */
    color: lightblue;
    font-family: serif;
    font-size: larger;
    font-weight: 100;
}
h2 {
    color: pink;
    font-family: serif;
    font-size: large;
    font-weight: 100;
}
body {
    color: #5a5859;
    background-color: lightgoldenrodyellow;
    font-family: 'Gill Sans MT';
}
/* LINKS */
a.headerbtn {
    color: lightblue;
    text-decoration: none;
}
a.headerbtn:visited {
    color: pink;
    text-decoration: none;
}
a {
    color: lightblue;
}
a:visited {
    color: pink;
}
/* BUTTONS */
button.startchatbtn {
    padding: 10px;
    width: 51%;
    border-radius: 5pt;
    color: #435a61;            
    background-color: #a4e1f5;
    cursor: pointer;
}
button.startchatbtn:hover {
    background-color: #a4e1f5;
    opacity: 90%;
}
button.startchatbtn:active {
    background-color: #a4e1f5;
    opacity: 80%;
}
/* DISABLED BUTTONS */
button.startchatbtn.disabled,button.startchatbtn:hover,button.startchatbtn:active {
    background-color: #a4e1f5;
    opacity: 0.6;
    cursor: not-allowed;
}
/* INPUT FIELDS */ 
.inputLabel {
    line-height: 1pt;
}
.inputFields {
    width: 300px;
}
#interestsInput {
    width: 50%;
    height: max-content;
}
form.checkboxes {
    line-height: 20pt;
}
.errortext {
    font-size: small;
    color: red;
}
/* DISPLAY */
.whitebox {
    padding: 20px;
    border-style: solid;
    border-width: thin;
    border-color:pink;
    border-radius: 5pt;
    background-color: white;
}
.invisibox {
    display: none;
    width: 500px;
}
.content {   
    position: fixed; /* i dont want it to resize with the page */   
    margin-top: 10%;
    margin-bottom: 10%;
    /* eventually want to do calc screen res - i.e. 550px or 30% */
    margin-left: 550px; 
    margin-right: 550px;
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
