header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-width: 201.4vh;
    height: 50px;
    box-sizing: border-box;
    border-style: solid;
    border-width: thin;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: pink;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: white;
}
h1 { /* title of webpage */
    color: lightblue;
    font-family: serif;
    font-size: larger;
    font-weight: 100;
}
h2 {
    display: inline;
    margin: 0;
    color: lightblue;
    font-family: serif;
    font-size: larger;
    font-weight: 100;
}
h3 {
    color: pink;
    font-family: serif;
    font-size: large;
    font-weight: 100;
}
body {
    color: #5a5859;
    background-color: lightgoldenrodyellow;
    font-family: 'Gill Sans MT';
}
/* LINKS */
a.headerbtn {
    color: pink;
    text-decoration: none;
}
a {
    color: lightblue;
}
/* BUTTONS */
button.submitbtn { /* login, register, reset */
    padding: 8px;
    width: 100%;
    border-radius: 3pt;
    border: none;
    border-color: #85b1c0;
    color: #435a61;     
    background-color: #a4e1f5;
    cursor: pointer;
}
button.submitbtn:hover {
    background-color: #a4e1f5;
    opacity: 90%;
}
button.submitbtn:active {
    background-color: #a4e1f5;
    opacity: 80%;
}
button.startchatbtn { /* start chat */
    padding: 10px;
    width: 51%;
    border-radius: 5pt;
    color: #435a61;            
    background-color: #a4e1f5;
    cursor: pointer;
}
button.startchatbtn:hover {
    background-color: #a4e1f5;
    opacity: 90%;
}
button.startchatbtn:active {
    background-color: #a4e1f5;
    opacity: 80%;
}
/* DISABLED BUTTONS */
button.disabled,button.disabled:hover,button.disabled:active {
    opacity: 0.6;
    cursor: not-allowed;
}
/* INPUT FIELDS */ 
.inputLabel {
    line-height: 1pt;
}
.inputFields {
    width: 230px;
}
#interestsInput {
    width: 50%;
    height: max-content;
    border: 1px solid #cccccc;
    border-radius: 2pt;
    padding: 2px;
    text-align: left;
    font-family: 'Gill Sans MT';
}
#interestsPlaceholder {
    color: #999999;
}
.interestTag {
    display: inline-block;
    background-color: #85b1c0;
    padding: 4px 8px;
    margin: 4px;
    border-radius: 4px;
}
form.checkboxes {
    line-height: 20pt;
}
#errortext {
    font-size: small;
    color: red;
}
/* DISPLAY */
.whitebox {
    padding: 20px;
    border-style: solid;
    border-width: thin;
    border-color:pink;
    border-radius: 5pt;
    background-color: white;
}
.content {   
    margin: auto; 
    margin-top: 10%;
    margin-bottom: 10%;
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* FOR MOBILE DEVICES */
.headerMobile {
    height: 8%;
}
.h1Mobile {
    font-size: 200%;
}
.headerbtnMobile {
    font-size: 150%;
}
.contentMobile {
    top: auto;
    bottom: auto;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
