<!DOCTYPE html>
<html>
<head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
    <!-- favicon, yet to be made -->
    <link rel="icon" type="image/x-icon" href="">
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header> <!-- header wip, will design last -->
        <img src="" style="width: 20px; height: 20px;"> &nbsp; &nbsp;
        <h1>Website Name</h1> &nbsp; &nbsp;
        <a>Home</a> &nbsp; &nbsp;
        <a>link2</a>
    </header>
    <div class="whitebox content">
        <!-- all content goes here -->
        {% block content %}{% endblock %}
        <br> <br>
    </div>
</body>
</html>