<html>
    <head>
        {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>microblog</title>
        {% endif %}

        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />


        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf-8">
            var socket = io();
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });
        </script>

    </head>
    <body>
        <div>
            Microblog:
            <a href="{{ url_for('home')}}">Home</a>   <!-- changed to use url_for instead of writing links directly -->
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('register')}}">Register</a>
            <a href="{{ url_for('login')}}">Login</a>
            {% else %}
            <a href="{{url_for('user', username=current_user.username)}}">Profile</a>
            <a href="{{ url_for('logout')}}">Logout</a>
            {% endif %} 
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>