<!DOCTYPE html>
<html>
<head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
    <!-- favicon, yet to be made -->
    <link rel="icon" type="image/x-icon" href="">
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <header>
        <img src="" style="width: 20px; height: 20px;"> &nbsp; &nbsp;
        <h1>{{ title }}</h1> &nbsp; &nbsp;
        <a href="{{ url_for('home')}}">Home</a>
        &nbsp; &nbsp;
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('register')}}">Register</a>
        &nbsp; &nbsp;
        <a href="{{ url_for('login')}}">Login</a>
        {% else %}
        <a href="{{url_for('user', username=current_user.username)}}">Profile</a> <!-- profile? -->
        &nbsp; &nbsp;
        <a href="{{ url_for('logout')}}">Logout</a>
        &nbsp; &nbsp;
        {% endif %} 
    </header>
    <div class="whitebox content">
        <!-- all content goes here -->
        {% block content %}{% endblock %}
        <br> <br>
    </div>
</body>
</html>