{% extends 'base.html' %}
{%block content%}
<!--
<div class="chat-box">
    <h2>Chat Room: {{roomCode}}</h2>
    <div class = "messages" id="messages">
    </div>
    <div class="inputs">
        <input type="text" rows="3" placeholder="Type here..." name="message" id="message"/>
        <button type="button" name="send" id="send-btn" onclick="sendMessage()">Send</button>
    </div>
</div>
-->

<body>
    <h3>Flask SocketIO Chat From the Lectures, room code {{roomCode}}</h3>
    <textarea class="whitebox chatarea" id="chat" cols="80" rows ="20" readonly></textarea><br>
    <!-- <div class="whitebox chatbox" id="chat" ></div> <br><br> -->
    <!-- <input id="text" size="80" placeholder="Enter your message here"><br><br> -->
    <div class="messageDiv">
        <input type="text" class="messageField" id="text" placeholder="Enter your message here...">
    </div>
    <br>
    <a href="/home" onclick="leave_room();">Leave this room</a>
</body>

<script src="{{ url_for('static',filename='chat.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}