{% extends 'base.html' %}
{%block content%}

<div class="chat-box">
    <h2>{{session.prompt}}</h2>
    <h3>Chat Room: {{session.room}}</h3>
    <div class = "messages" id="messages">
        {% for msg in history %}
            <div class="text">
                <span>
                    <a href="{{ url_for('user', username=msg.sender) }}"><strong>{{msg.sender}}</strong></a>
                    {{msg.message}}
                </span>
            </div>
        {% endfor %}
        <br>
    </div>

<!--
    <div class="inputs">
        <input type="text" rows="3" placeholder="Type here..." name="message" id="message"/>
        <button type="button" name="send" id="send-btn" onclick="sendMessage()">Send</button>
    </div>
</div>
-->
<!--
<h3>{{session.prompt}}, room code {{session.room}}</h3>
<textarea class="whitebox chatarea" id="chat" cols="80" rows ="20" readonly>
{% for msg in history %}{{msg.message}}
{% endfor %}
</textarea>
-->
<br>
<div class="messageDiv">
    <input type="text" class="messageField" id="text" placeholder="Enter your message here...">
</div> 
<br>
<a href="/home" onclick="leave_room();">Leave this room</a>

<script src="{{ url_for('static',filename='chat.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}