{% extends 'base.html' %}
{%block content%}
<!--
<div class="chat-box">
    <h2>Chat Room: {{roomCode}}</h2>
    <div class = "messages" id="messages">
    </div>
    <div class="inputs">
        <input type="text" rows="3" placeholder="Type here..." name="message" id="message"/>
        <button type="button" name="send" id="send-btn" onclick="sendMessage()">Send</button>
    </div>
</div>
-->

<script type="text/javascript" charset="utf-8">
    var socketio;
    $(document).ready(function(){
    socketio = io.connect('http://' + document.domain + ':' + location.port + '/chat');

    socketio.on('connect', function() {
        socketio.emit('joined', {});
    });

    socketio.on('status', function(data) {
        $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
        $('#chat').scrollTop($('#chat')[0].scrollHeight);
    });

    socketio.on('load_chats', function(data) {
        for (let i = 0; i < data.length; i++){
            $('#chat').val($('#chat').val() + data[i] + '\n');
        }
        $('#chat').scrollTop($('#chat')[0].scrollHeight);
    })

    socketio.on('message', function(data) {
        $('#chat').val($('#chat').val() + data.msg + '\n');
        $('#chat').scrollTop($('#chat')[0].scrollHeight);
    });

    $('#text').keypress(function(e) {
        var code = e.keyCode || e.which;
        if (code == 13) {
            text = $('#text').val();
            socketio.emit("text", {msg: text});
            $('#text').val('');
        }
    });
});
    function leave_room() {
        socketio.emit('leave', {}, function() {
            socketio.disconnect();
            window.loaction.href = "{{ url_for('home') }}";
        });
    }

    /*
    const messages = document.getElementById("messages");
    const createMessage = (message) => {
        const content = `
            <div class="text">
                <span>
                    <strong>${message}</strong>
                </span>
                <span class="muted">
                    ${new date().toLocaleString()}
                    <!-- Need to change the above -->
                </span>
            </div>
        `;
        messages.innerHTML += content;
    };

    socketio.on("message"), (data) => {
        createMessage(data.msg);
        console.log("received msg from server");
    };

    const sendMessage = () => {
        const message = document.getElementById("message");
        if (message.value == "") return;
        socketio.emit("text", {data: message.value});
        message.value = "";
    };
    */
</script>

<body>
    <h1>Flask SocketIO Chat From the Lectures, room code {{session.room}}</h1>
    <textarea id="chat" cols="80" rows ="20">
        {% for msg in history %}
            {{msg.message}}
        {% endfor %}
    </textarea><br><br>
    <input id="text" size="80" placeholder="Enter your message here"><br><br>
    <a href="/home" onclick="leave_room();">Leave this room</a>
</body>


{% endblock %}