{% extends "base.html" %}

{% block content %}
{% if current_user.is_anonymous == false %} <!-- if the user is logged in, unsure correct syntax -->
<nobr>
<h3>Welcome to {{ title }}!</h3>
<p>Hi {{ current_user.username }}! Start a new chat 👀</p>
</nobr>
<button type="submit" id="startNewChatBtn" class="startchatbtn">Start a new chat</button>
<br>
<div id="interestsDiv">
    <form input type="text">
        <div id="interestsTagsDiv"></div>
        <input type="text" id="interestsInput" placeholder="Enter your interests..." maxlength="50">
        <button 
        id="interestsbtn" onclick="createTag(document.getElementById('interestsInput').value); return false;">
            invisiblebtn
        </button>
    </form>
</div>
<br> 
<nobr>
    <form class="checkboxes">
        <input id="inCollegeCheckbox" type="checkbox">
        <label for="inCollegeCheckbox">Find students in my college</label>
        <br>
        <input id="anonymousCheckbox" type="checkbox"> 
        <label for="anonymousCheckbox">I want to be anonymous</label>
    </form>
    <p>Alternatively, you can discuss a randomly generated question:</p>
</nobr>
<button type="submit" id="StartNewQuestionsModeBtn" class="startchatbtn">Discuss a question</button>
{% else %} <!-- user is not logged in -->
<!-- not logged in code will add after fixing above -->
{% endif %}

<!-- my above coes does not work like the code below, may fix later -->
<br>
<form action = "" method="post" class="chat">
    <div class="join">
        <input type="text" placeholder="Room Code" name="roomCode" value="{{roomCode}}" />
        <button type="submit" name="join">Join a Room</button>
    </div>
    <button type="submit" name="create" class ="create-btn">Create a Room</button>
</form>


<script src="{{ url_for('static',filename='home.js') }}"></script>
{% endblock %}