{% extends "base.html" %}

{% block content %}
{% if current_user.is_anonymous == false %} <!-- if the user is logged in  -->
<form action = "" method="post" class="chatform">
    <nobr>
        <h3>Welcome to OmegeLUL!</h3>
        <p id="p1">Hi {{ current_user.username }}! Start a chat or join a chat room 😁</p>
    </nobr>
    <!--
    <div class="joinDiv">
        <input type="text" placeholder="Room Code" id="roomCode" name="roomCode" value="{{roomCode}}"> &nbsp;
        <button type="submit" id="joinChatBtn" class="startchatbtn" name="join">Join a room</button>
    </div>
    -->
    <button type="submit" id="startNewChatBtn" class="startchatbtn" name="create">Start a chat</button>
    <br>
    <button type="submit" id="joinChatBtn" class="startchatbtn" name="join">Join a room</button>
    <br>
    <div id="interestsDiv">
        <div style="margin: 0;">
            <div id="interestsTagsDiv"></div>
            <input type="text" id="interestsInput" placeholder="Enter your interests..." maxlength="50">
            <!--
            <button 
            id="interestsbtn" onclick="createTag(document.getElementById('interestsInput').value); return false;">
                invisiblebtn
            </button>
            -->
        </div>
    </div>
    <!--
    <div class="checkboxes">
        <input id="inCollegeCheckbox" type="checkbox">
        <label for="inCollegeCheckbox">Find students in my college</label>
        <br>
        <input id="anonymousCheckbox" type="checkbox"> 
        <label for="anonymousCheckbox">I want to be anonymous</label>
    </div>
    -->
    <nobr>
        <p id="p2">Alternatively, you can discuss a randomly generated question:</p>
    </nobr>
    <button type="submit" id="StartNewQuestionsModeBtn" class="startchatbtn" name="questionsMode">Discuss a question</button>
</form>
<script src="{{ url_for('static',filename='home.js') }}"></script>
{% else %} <!-- user is not logged in -->
<nobr>
    <h3>Welcome to OmegeLUL!</h3>
    <p>About description etc etc</p>
</nobr>
{% endif %}
{% endblock %}