{% extends "base.html" %}

{% block content %}
<h1>These are the currently registered users!</h1>
<div> <!-- Getting to other user profiles -->
    <form action="{{ url_for('search') }}" method="GET" class="search-form">
        <input type="text" name="username" placeholder="Search username">
        <button type="submit">Search</button>
    </form>
    
</div>

<u1 class="user-list">
    {% for user in users %}
        <li>
            <img src="{{ user.avatar(128) }}" alt="Avatar" width="128  " height="128">
            <a href="{{ url_for('user', username=user.username) }}" class="username-link">{{ user.username }}</a>
        </li>
    {% endfor %}
</u1>

{% endblock %}
