{% extends "base.html" %}

{% block content %}
<h1 class="h1nolinebreaks">Register</h1>
<span id="errortext"></span>
<form id="registerForm" action="" method="post" novalidate onsubmit="checkRegister();">
    {{ form.hidden_tag() }}
    <p class="inputLabel">{{ form.username.label}}</p>
    {{ form.username(class_="inputFields")}}
    
    <p class="inputLabel">{{ form.password.label}}</p>
    {{ form.password(class_="inputFields")}}
    
    <p class="inputLabel">{{ form.confirm_password.label}}</p>
    {{ form.confirm_password(class_="inputFields")}}
    
    <div style="height: 23px;"></div>
    <button class="submitbtn" type="submit">Register</button>
</form>
{% endblock %}