{% extends "base.html" %}

{% block content %}
<h2>Register</h2>
<form action="" method="post" novalidate>
    <p class="inputLabel">Create username</p>
    <input class="inputFields" id="username">
    <span class="errortext">This field is required.</span>
    <br>
    <p class="inputLabel">Create password</p>
    <input class="inputFields" id="password">
    <span class="errortext">This field is required.</span>
    <br>
    <p class="inputLabel">Confirm password</p>
    <input class="inputFields">
    <span class="errortext">This field is required.</span>
    <br>
    <br>
    {% for error in form.username.errors %}
    <script>createErrorText()</script>
    {% endfor %}
    <button class="bluebtn" type="submit">Register</button>
</form>
{% endblock %}