{% extends "base.html" %}

{% block content %}
<h2>Create an account</h2>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p class="inputLabel">Username</p>
    <input class="inputFields" id="username">
    <br>
    {% for error in form.username.errors %}
    <span class="errortext">[{{ error }}]</span>
    {% endfor %}
    <br>
    <p class="inputLabel">Password</p>
    <input class="inputFields" id="password">
    <br>
    {% for error in form.username.errors %}
    <span class="errortext">[{{ error }}]</span>
    {% endfor %}
    <br>
    <p class="inputLabel">Confirm password</p>
    <input class="inputFields">
    <br>
    {% for error in form.username.errors %}
    <span class="errortext">[{{ error }}]</span>
    {% endfor %}
    <br> <br>
    <button class="submitbtn" type="submit">Register</button>
</form>
{% endblock %}