{% extends "base.html" %}

{% block content %}
<h2>Reset</h2>
<span id="errortext"></span>
<form id="resetForm" action="" method="post" novalidate onsubmit="checkReset();">
    {{ form.hidden_tag() }}
    <p class="inputLabel">{{ form.username.label}}</p>
    {{ form.username(class_="inputFields")}}
    
    <p class="inputLabel">{{ form.password.label}}</p>
    {{ form.password(class_="inputFields")}}
    
    <p class="inputLabel">{{ form.new_password.label}}</p>
    {{ form.new_password(class_="inputFields")}}
    
    <div style="height: 23px;"></div>
    <button class="submitbtn" type="submit">Reset</button>
</form>
<script src="{{ url_for('static',filename='reset.js') }}"></script>
{% endblock %}