{% extends "base.html" %} 

{% block content %} 
    <div class="user-profile">
        <img class="avatar" src="{{ user.avatar(100) }}" style="width: 256px; height: 256px;">  
        <div class="user-info">
            <h1>User: {{ user.username }}</h1>
            {% if user.about_me %}
                <p>{{ user.about_me }}</p>
            {% endif %}
            {% if user.last_seen %}
                <p>Last seen on: {{ user.last_seen_formatted }}</p>
            {% endif %}
            {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">Edit your Profile</a></p>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="posts">
        {% for post in posts %}
            <div class="post">
                <img class="avatar" src="{{ user.avatar(100) }}" style="width: 50px; height: 50px;">
                <td>{{ post.author.username }} says:  {{ post.body }} <br> 
                    <small> Posted on {{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }} </small>
                </td>
                {% if post.author == current_user %}
                    <form action="{{ url_for('delete_post', username=user.username, post_id=post.id) }}" method="POST">
                        <button type="submit" class="delete-button">Delete</button>
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="add-post">
        <form method="POST">
            <input type="text" name="post_body">
            <button type="submit">Add Post</button>
        </form>
    </div>
{% endblock %}
