{% extends "base.html" %} 

{% block content %} 
<table class="profiletable">
    <tr>
        <td rowspan="4"><img src="{{ user.avatar(128) }}" id="avatar"></td>
        <td rowspan="4" style="padding: 10px;"></td>
        <td>
            <span style="font-weight: bold;"><span style="font-size: smaller;">@</span>{{ user.username }}</span>
        </td>
    </tr>
    <tr>
        <td>
            {% if user.last_seen %}
            <span style="font-size: small;">Last seen on: {{ user.last_seen_formatted }}</span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            {% if user.about_me %} 
            <span id="aboutme">{{ user.about_me }}</span> 
            {% else %}
            <span id="aboutme">No description.</span> 
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            {% if user == current_user %} 
            <button class="submitbtn" onclick="document.location='{{ url_for('edit_profile') }}'">Edit profile</button>
            {% endif %}
        </td>
    </tr>
</table>
<br>
<div class="post-container">
    <div class="posts">
        {% for post in posts %}
            <div class="post">
                <div class="avatar-container">
                    <img class="avatar" src="{{ post.author.avatar(100) }}" style="width: 50px; height: 50px;">
                </div>
                <div class="post-content">
                    <div class="author-info">
                        <span class="username">{{ post.author.username }}</span>
                        <span class="posted-on">Posted on {{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</span>
                    </div>
                    <div class="comment">{{ post.body }}</div>
                    {% if post.author == current_user %}
                        <form action="{{ url_for('delete_post', username=user.username, post_id=post.id) }}" method="POST">
                            <button type="submit" class="delete-button">Delete</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="add-post">
    <form method="POST">
        <input type="text" name="post_body">
        <button type="submit">Add Post</button>
    </form>
</div>

{% endblock %}
